@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/MullerNarrowLight.otf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Fontfabric__MullerNarrowMedium.otf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Fontfabric__MullerNarrowMedium.otf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Fontfabric__MullerNarrowExtraBold.otf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Fontfabric__MullerNarrowExtraBold.otf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}