*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.wrapper {
  width: 100%;
  background-color: #1C0C00;
}

/* body {
  overflow-x: hidden;
} */


.contain {
  width: 1350px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 108px 0px;
  gap: 61px;
}

.navbar {
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 1350px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  
}


.navbar__left__div {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__div {
  display: flex;
  padding: 40px 0px;

}

.navbar__right__div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__link {

  position: relative;
  width: 76px;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 17.8805px;
  line-height: 109.5%;
  /* identical to box height, or 20px */

  color: #A3A3A3;
}

.navbar__link:focus {
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.navbar__link:hover {
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.navbar__dot {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 10px;
  color: #FF6432;
}

.events__dot {
  left: 15px;
}

.about__dot {
  left: 24px;
}

.navbar__link:focus .navbar__dot {
  visibility: visible;
}

.button {

  padding: 11px 56px 10px 56px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  font-family: 'Muller';
  color: white;
  
}

.button:hover {
  transition: all 1s ease;
  box-shadow: 0px 0px 100px 5px #FF6432;
}

.button:active {
 background: #FFA228;
background: linear-gradient(122deg, rgba(255, 162, 40, 1) 0%, rgba(255, 100, 50, 1) 42%, rgba(194, 60, 16, 1) 100%);
  box-shadow: 0px 0px 150px 20px #FF6432;
}


.navbar__basket__div {

  padding: 12px;
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%); 
  border-radius: 50px;
}















.header__btns__div {
  display: flex;
}

.header__btns__wrapper {
  position: relative;
}

.header__btns {
  z-index: 1;
  width: 230px;
  height: 61px;
  padding: 20px 35px 19px 50px;
  border-radius: 50px;
  background-color: inherit;
  border: none;
  opacity: 0.1;
  box-shadow: 0px 0px 50px -10px #ff4000;
}

.left__button__link {
  position: absolute;
  top: -50px;
  left: 80px;
  width: 100px;
  font-family: 'Muller';
  color: white;
  z-index: 3;
  
}

.right__button__link {
  position: absolute;
  top: -50px;
  left: 245px;
  width: 100px;
  font-family: 'Muller';
  color:white;
  z-index: 3;
}

.button__div {
  position: absolute;
  left: -90px;
  top: -20px;
  border-radius: 50px;
}

.button__div:hover {
  z-index: 1;
  border: 1px solid #FF5E2A;
}

.header__btns:focus {
  z-index: 4;
  opacity: 0.5;
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  box-shadow: 0px 0px 150px 20px #FF6432;
}






































/* .header__items__btns { */

  /* padding: 11px 56px 10px 56px; */
  /* width: 230px;
  height: 62px;
  font-family: 'Muller';
  background-color: inherit;
  border: 1px solid #FE9C1C ;
  border-radius: 50px;
 
}


.header__item__button {
  left: 130px;
  color: white; 
}

.left__button__link {
  position: absolute;
  left: 80px;
  color: white;
  font-family: 'Muller';
}

.button__link {
  padding: 0px -100px;
}



.header__item__button {
  position: absolute;
  bottom: 0px;



}  */


.header__left__item {
  position: relative;
  display: flex;
  padding: 20px 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.header__left__div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .header__items__btns:focus {
  z-index: 0;
  background: linear-gradient(261.48deg, #FE9C1C -17.13%, #FF5E2A 86.76%);
  border: 1px solid #FF5E2A;

} */

.header__title {
  width: 538px;


  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 69.1697px;
  line-height: 109.5%;
  /* or 76px */

  color: #FFFFFF;


}

.header__title span {
  position: relative;
  left: 70px;
  width: auto;
}

.vector2 {
  position: absolute;
  bottom: 550px;
  left: 400px;

}

.lighting {
  position: absolute;
  top: 80px;
  left: 190px;
}


.handwrite__pizza {
  position: absolute;
  left: 70px;
  bottom: 520px;
}

.header__text {

  width: 411px;


  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 19.5621px;
  line-height: 30px;

  color: #A3A3A3;


}

.header__text span {
  color:white;
}


.process__img {
  position: relative;
  bottom: 10px;
  right: 30px;
}

.process__icon {
  position: absolute;
  left: 95px;
  top: 120px;
}

.vector1 {
  position: absolute;
  bottom: -170px;
  left: 410px;
}


.header__right__div {
  position: relative;
  left: -30px;
}

.header__mainimg {
  position: absolute;
  left: 300px;
  top: -20px;
}

.header__pizza {
  position: absolute;
  left: 640px;
  bottom: 420px;
  z-index: 2;

}

.header__fries {
  position: absolute;
  left: 150px;
  top: 500px;
  z-index: 2;
}

.section__menu {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 200px 0px;
}

.main__btns__div {
  display: flex;
  align-items: center;
  gap: 24px;
}

.main__btns__section1 {
  padding: 19px 60px;
  border-radius: 50px;
  border: none;
  font-family: 'Muller';
  box-shadow: 0px 0px 50px -25px #FF5E2A;
  background-color: #1C0C00;
  font-weight: 500;
  font-size: 22px;
  line-height: 109.5%;
  /* identical to box height, or 24px */
  
  color: #FFFFFF;
  
}

.main__btns__section1:hover {
  transition: all 1s ease;
  box-shadow: 0px 0px 100px 5px #FF6432;
}

.main__btns__section1:active {
  box-shadow: 0px 0px 150px 20px #FF6432;
}

.main__btns__section1:focus {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  box-shadow: 0px 0px 150px 20px #FF6432;

}

.section1__cards {
  position: relative;
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: center;
  padding: 55px 0px;
}

.menu__img {
  position: absolute;
  left: -100px;
  top: 450px;
}

.section1__items {
  position:relative;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #210A01;
  border-radius: 30px;
  padding: 0px 41px 23px 27px; 
}

.section1__cardsitems__img {
  position: relative;
  bottom: 80px;

}

.section1__cardsitems__botdiv {
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section1__items__text {
  width: 229px;


  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 14.3197px;
  line-height: 109.5%;
  /* or 16px */

  color: #A3A3A3;


}

.section1__items__title {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 25.1018px;
  line-height: 109.5%;
  /* or 27px */

  color: #FFFFFF;
}

.section1__items__text {
  text-align: start;
}


.section1__items__div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
}

.section1__items__div__item {
  padding: 14px 11px 10px 12px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #A3A3A3;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 14.3197px;
  line-height: 109.5%;
  /* identical to box height, or 16px */
  box-shadow: 0px 0px 10px -5px #FF5924;
  color: #A3A3A3;

  
}




.section1__items__div__item:hover {
  transition: all 1s ease;
  box-shadow: 0px 0px 20px 5px #FF6432;
}

.section1__items__div__item:active {
  box-shadow: 0px 0px 30px 5px #FF6432;
}

.section1__items__div__item:focus {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  box-shadow: 0px 0px 30px 5px #FF6432;
  border: 1px solid #fff;
  color: #fff;

}

.button__none__bgcolor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 51px;
  border-radius: 50px;
  border: 1px solid #FF5924;
  background-color: transparent;
  color:#FE9C1C;
  font-family: 'Muller';


}

.button__none__bgcolor:hover {
  transition: all 1s ease;
  box-shadow: 0px 0px 20px 5px #FF6432;
}

.button__none__bgcolor:active {
  opacity: 0.7;
}

.price__item__div {
  display: flex;
  align-items: center;
  gap: 47px;
  justify-content: center;
}

.price__text {

  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 25.4553px;
  line-height: 109.5%;
  /* identical to box height, or 28px */

  color: #FFFFFF;


}


.price__pmnumber {


  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 22.8198px;
  line-height: 109.5%;
  /* identical to box height, or 25px */

  color: #A3A3A3;


}

.price__much {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price__pmdiv {
  width: 20px;
  height: 20px;
  padding: 2.5px 0px 0px 0.2px;
}


.popular__pizza {
  position: relative;
}

.section1__popular__title {
  position: absolute;
  bottom: 100px;
  left: 375px; 

  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 43.8638px;
  line-height: 108.5%;
  /* or 48px */

  color: #FFFFFF;

  text-shadow: 0px 11.5905px 10.2269px rgba(14, 4, 4, 0.38);

}

.popular__menuimg {
  position: absolute;
  right: 250px
}

.section__events {
  position: relative;
  bottom: 450px;
}

.egg__biconimg {
  position: absolute;
  top: 100px;
  right: 1200px;
  z-index: 3;


}

.burrito__img {
  position: absolute;
  top: 220px;
  left: 1100px;
  z-index: 3;
}

.coffe__img {
  position: absolute;
  top: 620px;
  right: 1190px;
  z-index: 3;
}

.events__img {
  position: absolute;
  bottom: 200px;
  right: 900px;
  z-index: 1;
}

.events__div {
 position: relative;
  display: flex;
  gap: 24px;


}

.events__items {
  position: relative;
  z-index: 2;

}

.event__item__title {
  position: absolute;
  top: 70px;
  left: 40px;

  width: 171px;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 25.0926px;
  line-height: 108.5%;
  /* or 27px */

  color: #FFFFFF;


}

.event__button {
  position: absolute;
  left: 40px;
  top: 170px;
  width: 204px;
}

.events__title-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: end;
}

.events__text {
  width: 457px;
}

.price__img {
  border-radius: 30px;
}

.events__items__second {
  width: 615px;
}

.second__events__div {
  position: relative;
  bottom: 50px;
  left: -10px;
}

.third__events__div {
  position: absolute;
  top: 660px;
  left: -10px;
  display: flex;
  gap: 28px;
}

.about__images__div {
  position: relative;
  padding: 10px 0px;
  top: -30px
}

.about__images {
  position: relative;
}


.section__about {
  position: relative;
  top: -300px;
}

.about__argentina {
  top: 25px;
  left: -40px;
  z-index: 2;

  opacity: 0.7;
}

.about__gribnaya {
  left: -170px;
  z-index: 3;
}

.about__meat {
  top: 35px;
  left: -290px;
  z-index: 2;

  opacity: 0.7;
}

.about__cheese {
  left: -420px;
  z-index: 3;
}

.about__italian2 {
  top: 25px;
  left: -550px;
  z-index: 2;

  opacity: 0.7;
}


.about__vector {
  position: absolute;
  top: 140px;
  right: 695px;
}


.about__right__div {
  position: relative;
}

.about__pizza {
  position: absolute;
  left: 1125px;
  bottom: 445px;

  z-index: 3;

}

.about__mainpizza {
  position: absolute;
  bottom: -20px;
  left: 650px;
}

.about__text {
  width: 500px;
  padding: 10px 0px;
}


.about__fries {
  position: absolute;
  left: 570px;
  bottom: -50px;
}

.footer__item1 {
  position: absolute;
  top: 4700px;
  display: flex;
  align-items: start;
  gap: 200px;
}

.footer__link__wrapper {
  display: flex;
  gap: 100px;
}

.footer__link__div {
  display: flex;
  flex-direction: column;
  gap: 12.12px;
}

.footer__title {

  width: 134.76px;
  height: 22px;


  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 19.6259px;
  line-height: 125.68%;
  /* or 25px */
  letter-spacing: -0.02em;

  color: #A3A3A3;


}

.footer__link {
  height: 22px;


  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 17.7249px;
  line-height: 125.68%;
  /* or 22px */
  letter-spacing: -0.02em;

  color: #515151;


}

.footer__link:hover {
  text-decoration: underline;
  color: white;
  opacity: 0.6;
}

.footer__link:active {
  opacity: 0.5;

}

.footer__item2 {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.footer2__tel {

  width: 199.83px;
  height: 26px;


  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20.881px;
  line-height: 125.68%;
  /* or 26px */
  letter-spacing: -0.02em;

  /* рррр */
  background: linear-gradient(261.69deg, #FF612E 12.12%, #FFA32B 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


}

.footer__svgicons__div {
  display: flex;
  align-items: center;
  gap: 11px;
}














